.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.login-options {
  display: flex;
}

.login-option {
  flex: 1;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}

.login-option.selected {
  background: #00e676;
  color: #fff;
  border-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin-bottom: 20px;
}

button {
  background: #128c7e;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background: #075e54;
}
